<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

# Chapter 4

In [2]:
%load_ext sql
%sql postgresql://datacamp:datacamp@localhost:15432/datacamp

'Connected: datacamp@datacamp'

In [3]:
%%sql
select count(*) from countries;

 * postgresql://datacamp:***@localhost:15432/datacamp
1 rows affected.

[(206,)]

In [6]:
%%sql
-- Select average life_expectancy
select avg(life_expectancy)
  -- From populations
  from populations
-- Where year is 2015
where year = 2015;

 * postgresql://datacamp:***@localhost:15432/datacamp
1 rows affected.

[(71.6763415865977,)]

In [11]:
%%sql
-- Select fields
select *
  -- From populations
  from populations
-- Where life_expectancy is greater than
where year = 2015 and life_expectancy > 1.15 *
  -- 1.15 * subquery
  (select avg(life_expectancy)
  from populations
  where year = 2015);

 * postgresql://datacamp:***@localhost:15432/datacamp
10 rows affected.

[(21, 'AUS', 2015, 1.833, 82.4512195121951, 23789752),
 (376, 'CHE', 2015, 1.54, 83.1975609756098, 8281430),
 (356, 'ESP', 2015, 1.32, 83.3804878048781, 46443994),
 (134, 'FRA', 2015, 2.01, 82.6707317073171, 66538391),
 (170, 'HKG', 2015, 1.195, 84.2780487804878, 7305700),
 (174, 'ISL', 2015, 1.93, 82.8609756097561, 330815),
 (190, 'ITA', 2015, 1.37, 83.490243902439, 60730582),
 (194, 'JPN', 2015, 1.46, 83.8436585365854, 126958472),
 (340, 'SGP', 2015, 1.24, 82.5951219512195, 5535002),
 (374, 'SWE', 2015, 1.88, 82.5512195121951, 9799186)]

In [17]:
%%sql
-- 2. Select fields
select name, country_code, urbanarea_pop
  -- 3. From cities
  from cities
-- 4. Where city name in the field of capital cities
where name IN
  -- 1. Subquery
  (select capital
   from countries)
ORDER BY urbanarea_pop DESC;

 * postgresql://datacamp:***@localhost:15432/datacamp
66 rows affected.

[('Beijing', 'CHN', 21516000),
 ('Dhaka', 'BGD', 14543124),
 ('Tokyo', 'JPN', 13513734),
 ('Moscow', 'RUS', 12197596),
 ('Cairo', 'EGY', 10230350),
 ('Kinshasa', 'COD', 10130000),
 ('Jakarta', 'IDN', 10075310),
 ('Seoul', 'KOR', 9995784),
 ('Mexico City', 'MEX', 8974724),
 ('Lima', 'PER', 8852000),
 ('London', 'GBR', 8673713),
 ('Bangkok', 'THA', 8280925),
 ('Tehran', 'IRN', 8154051),
 ('Bogota', 'COL', 7878783),
 ('Baghdad', 'IRQ', 7180889),
 ('Hanoi', 'VNM', 6844100),
 ('Santiago', 'CHL', 5743719),
 ('Riyadh', 'SAU', 5676621),
 ('Singapore', 'SGP', 5535000),
 ('Ankara', 'TUR', 5271000),
 ('Khartoum', 'SDN', 3639598),
 ('Berlin', 'DEU', 3517424),
 ('Algiers', 'DZA', 3415811),
 ('Kabul', 'AFG', 3414100),
 ('Pyongyang', 'PRK', 3255388),
 ('Madrid', 'ESP', 3207247),
 ('Baku', 'AZE', 3202300),
 ('Nairobi', 'KEN', 3138369),
 ('Addis Ababa', 'ETH', 3103673),
 ('Buenos Aires', 'ARG', 3054300),
 ('Kiev', 'UKR', 2908703),
 ('Rome', 'ITA', 2877215),
 ('Luanda', 'AGO', 2825311),
 ('Quito', 'ECU', 2671191),
 ('Managua', 'NIC', 2560789),
 ('Brasilia', 'BRA', 2556149),
 ('Yaounde', 'CMR', 2440462),
 ('Tashkent', 'UZB', 2309600),
 ('Phnom Penh', 'KHM', 2234566),
 ('Paris', 'FRA', 2229621),
 ('Ouagadougou', 'BFA', 2200000),
 ('Guatemala City', 'GTM', 2110100),
 ('Havana', 'CUB', 2106146),
 ('Accra', 'GHA', 2070463),
 ('Minsk', 'BLR', 1959781),
 ('Caracas', 'VEN', 1943901),
 ("Sana'a", 'YEM', 1937451),
 ('Islamabad', 'PAK', 1900000),
 ('Vienna', 'AUT', 1863881),
 ('Brazzaville', 'COG', 1827000),
 ('Manila', 'PHL', 1780148),
 ('Kuala Lumpur', 'MYS', 1768000),
 ('Maputo', 'MOZ', 1766184),
 ('Budapest', 'HUN', 1759407),
 ('Warsaw', 'POL', 1753977),
 ('Lusaka', 'ZMB', 1742979),
 ('Harare', 'ZWE', 1606000),
 ('Kampala', 'UGA', 1507080),
 ('Prague', 'CZE', 1324000),
 ('Montevideo', 'URY', 1305082),
 ('Abuja', 'NGA', 1235880),
 ('Dakar', 'SEN', 1146053),
 ('Abu Dhabi', 'ARE', 1145000),
 ('Tripoli', 'LBY', 1126000),
 ('Yerevan', 'ARM', 1060138),
 ('Tunis', 'TUN', 1056247)]

In [22]:
%%sql
SELECT countries.name AS country, COUNT(*) AS cities_num
  FROM cities
    INNER JOIN countries
    ON countries.code = cities.country_code
GROUP BY country
ORDER BY cities_num DESC, country
LIMIT 9;

 * postgresql://datacamp:***@localhost:15432/datacamp
9 rows affected.

[('China', 36),
 ('India', 18),
 ('Japan', 11),
 ('Brazil', 10),
 ('Pakistan', 9),
 ('United States', 9),
 ('Indonesia', 7),
 ('Russian Federation', 7),
 ('South Korea', 7)]

In [24]:
%%sql
SELECT countries.name AS country,
  (SELECT count(*)
   FROM cities
   WHERE countries.code = cities.country_code) AS cities_num
FROM countries
ORDER BY cities_num DESC, country
LIMIT 9;

 * postgresql://datacamp:***@localhost:15432/datacamp
9 rows affected.

[('China', 36),
 ('India', 18),
 ('Japan', 11),
 ('Brazil', 10),
 ('Pakistan', 9),
 ('United States', 9),
 ('Indonesia', 7),
 ('Russian Federation', 7),
 ('South Korea', 7)]

In [41]:
%%sql
-- Select fields (with aliases)
select languages.code, count(*) as lang_num
  -- From languages
  from languages
group by languages.code;

 * postgresql://datacamp:***@localhost:15432/datacamp
212 rows affected.

[('BLZ', 9),
 ('BGD', 2),
 ('ITA', 4),
 ('OMN', 5),
 ('TZA', 4),
 ('PAN', 11),
 ('HUN', 7),
 ('ROM', 5),
 ('PRT', 2),
 ('COL', 1),
 ('GRL', 3),
 ('BEN', 3),
 ('PRY', 2),
 ('VEN', 2),
 ('TJK', 2),
 ('IRQ', 5),
 ('CIV', 2),
 ('MDA', 7),
 ('MNG', 3),
 ('MKD', 6),
 ('CHE', 10),
 ('AFG', 4),
 ('MDG', 3),
 ('CYM', 5),
 ('TKL', 8),
 ('UKR', 3),
 ('EST', 5),
 ('GRC', 2),
 ('BRA', 1),
 ('YEM', 1),
 ('BLR', 4),
 ('PRI', 2),
 ('BTN', 4),
 ('MHL', 2),
 ('CHN', 9),
 ('MUS', 5),
 ('TGO', 5),
 ('CMR', 3),
 ('IDN', 4),
 ('CRI', 2),
 ('ZWE', 16),
 ('EGY', 2),
 ('GRD', 2),
 ('POL', 4),
 ('MLI', 13),
 ('LTU', 5),
 ('MYS', 8),
 ('AIA', 1),
 ('MEX', 3),
 ('PER', 6),
 ('AUS', 9),
 ('TON', 4),
 ('NIC', 4),
 ('AGO', 12),
 ('GEO', 5),
 ('MWI', 12),
 ('QAT', 2),
 ('RUS', 4),
 ('THA', 3),
 ('MMR', 1),
 ('FRO', 3),
 ('TTO', 5),
 ('NOR', 3),
 ('ESP', 5),
 ('BMU', 2),
 ('ERI', 7),
 ('IRL', 2),
 ('TUR', 3),
 ('FIN', 4),
 ('HND', 2),
 ('MCO', 4),
 ('RWA', 6),
 ('UZB', 4),
 ('NER', 3),
 ('KAZ', 2),
 ('NAM', 9),
 ('JPN', 1),
 ('GUY', 5),
 ('BIH', 5),
 ('SYR', 7),
 ('JAM', 2),
 ('FRA', 13),
 ('ASM', 5),
 ('LCA', 2),
 ('NIU', 5),
 ('AND', 4),
 ('SMR', 1),
 ('DJI', 4),
 ('NFK', 2),
 ('BOL', 7),
 ('URY', 3),
 ('AZE', 4),
 ('SOM', 4),
 ('TUV', 4),
 ('ZAF', 13),
 ('SVK', 5),
 ('SPM', 1),
 ('PRK', 1),
 ('NRU', 3),
 ('KGZ', 4),
 ('IRN', 8),
 ('LAO', 4),
 ('VUT', 5),
 ('KHM', 2),
 ('SVN', 5),
 ('PLW', 6),
 ('BDI', 6),
 ('MSR', 1),
 ('DMA', 2),
 ('KWT', 2),
 ('TCA', 1),
 ('UGA', 6),
 ('VNM', 3),
 ('DEU', 1),
 ('MOZ', 8),
 ('ECU', 4),
 ('GTM', 2),
 ('ZMB', 19),
 ('SGP', 10),
 ('NPL', 14),
 ('KEN', 3),
 ('LIE', 3),
 ('TWN', 3),
 ('CAN', 10),
 ('CXR', 3),
 ('GNB', 4),
 ('BGR', 5),
 ('DOM', 1),
 ('LSO', 4),
 ('LKA', 3),
 ('AUT', 5),
 ('TUN', 3),
 ('BHS', 2),
 ('JOR', 2),
 ('CYP', 10),
 ('GHA', 11),
 ('DZA', 6),
 ('GIB', 4),
 ('LVA', 4),
 ('WSM', 2),
 ('ARM', 3),
 ('SAU', 1),
 ('ALB', 4),
 ('NCL', 2),
 ('BHR', 4),
 ('SLV', 2),
 ('HRV', 4),
 ('IND', 14),
 ('TCD', 4),
 ('COM', 3),
 ('HKG', 5),
 ('LBY', 4),
 ('USA', 3),
 ('PYF', 3),
 ('DNK', 4),
 ('FSM', 9),
 ('ISL', 4),
 ('MRT', 5),
 ('CHL', 5),
 ('SUR', 5),
 ('SYC', 5),
 ('GIN', 1),
 ('GBR', 1),
 ('LUX', 5),
 ('NLD', 1),
 ('COD', 5),
 ('PHL', 3),
 ('SLE', 4),
 ('WLF', 4),
 ('SEN', 7),
 ('CCK', 2),
 ('BFA', 2),
 ('ATG', 2),
 ('ETH', 16),
 ('MNP', 7),
 ('ABW', 7),
 ('GAB', 6),
 ('TKM', 4),
 ('BRN', 3),
 ('MLT', 4),
 ('CUB', 1),
 ('KIR', 2),
 ('PAK', 11),
 ('BEL', 3),
 ('BWA', 9),
 ('GUM', 6),
 ('ARG', 6),
 ('VCT', 2),
 ('CAF', 3),
 ('MAR', 7),
 ('LBN', 4),
 ('NZL', 9),
 ('KNA', 1),
 ('GNQ', 4),
 ('KOR', 2),
 ('ESH', 3),
 ('GMB', 5),
 ('NGA', 6),
 ('STP', 8),
 ('COG', 3),
 ('HTI', 2),
 ('LBR', 2),
 ('ISR', 3),
 ('PNG', 4),
 ('SWZ', 2),
 ('MDV', 2),
 ('SLB', 3),
 ('BRB', 2),
 ('SDN', 5),
 ('COK', 3),
 ('SWE', 1),
 ('ARE', 5)]

In [55]:
%%sql
-- Select fields
select local_name, subquery.lang_num
  -- From countries
  from countries, 
  	-- Subquery (alias as subquery)
  	(select code, count(*) as lang_num
     from languages
     group by code) AS subquery
  -- Where codes match
  where countries.code = subquery.code
-- Order by descending number of languages
order by subquery.lang_num desc;

 * postgresql://datacamp:***@localhost:15432/datacamp
199 rows affected.

[('Zambia', 19),
 ('Zimbabwe', 16),
 ('YeItyop´iya', 16),
 ('Bharat/India', 14),
 ('Nepal', 14),
 ('Mali', 13),
 ('South Africa', 13),
 ('France', 13),
 ('Malawi', 12),
 ('Angola', 12),
 ('Pakistan', 11),
 ('Panama', 11),
 ('Ghana', 11),
 ('Canada', 10),
 ('Kypros/Kibris', 10),
 ('Schweiz/Suisse/Svizzera/Svizra', 10),
 ('Singapore/Singapura/Xinjiapo/Singapur', 10),
 ('Namibia', 9),
 ('Botswana', 9),
 ('Belize', 9),
 ('Micronesia', 9),
 ('Zhongquo', 9),
 ('New Zealand/Aotearoa', 9),
 ('Australia', 9),
 ('Malaysia', 8),
 ('Sao Tome e Principe', 8),
 ('Mocambique', 8),
 ('Iran', 8),
 ('Aruba', 7),
 ('Al-Maghrib', 7),
 ('Ertra', 7),
 ('Magyarorszag', 7),
 ('Bolivia', 7),
 ('Suriya', 7),
 ('Northern Mariana Islands', 7),
 ('Moldova', 7),
 ('Senegal/Sounougal', 7),
 ('Uganda', 6),
 ('Makedonija', 6),
 ('Burundi/Uburundi', 6),
 ('Le Gabon', 6),
 ('Guam', 6),
 ('Argentina', 6),
 ('Belau/Palau', 6),
 ('Nigeria', 6),
 ('Al-Jaza\x92ir/Algerie', 6),
 ('Rwanda/Urwanda', 6),
 ('Peru/Piruw', 6),
 ('Al-Imarat al-´Arabiya al-Muttahida', 5),
 ('´Uman', 5),
 ('Al-´Iraq', 5),
 ('Cayman Islands', 5),
 ('Eesti', 5),
 ('Mauritius', 5),
 ('Togo', 5),
 ('Lietuva', 5),
 ('Sakartvelo', 5),
 ('Trinidad and Tobago', 5),
 ('Espana', 5),
 ('Guyana', 5),
 ('Bosna i Hercegovina', 5),
 ('Amerika Samoa', 5),
 ('Slovensko', 5),
 ('Vanuatu', 5),
 ('Slovenija', 5),
 ('Balgarija', 5),
 ('Osterreich', 5),
 ('Xianggang/Hong Kong', 5),
 ('Muritaniya/Mauritanie', 5),
 ('Chile', 5),
 ('Suriname', 5),
 ('Sesel/Seychelles', 5),
 ('Luxembourg/Letzebuerg', 5),
 ('Republique Democratique du Congo', 5),
 ('The Gambia', 5),
 ('As-Sudan', 5),
 ('Afganistan/Afqanestan', 4),
 ('Soomaaliya', 4),
 ('Guine-Bissau', 4),
 ('Tuvalu', 4),
 ('Monaco', 4),
 ('Lesotho', 4),
 ('Island', 4),
 ('Djibouti/Jibuti', 4),
 ('Uzbekiston', 4),
 ('Tanzania', 4),
 ('Turkmenostan', 4),
 ('Belarus', 4),
 ('Suomi', 4),
 ('Lubnan', 4),
 ('Gibraltar', 4),
 ('Latvija', 4),
 ('Malta', 4),
 ('Papua New Guinea/Papua Niugini', 4),
 ('Tonga', 4),
 ('Shqiperia', 4),
 ('Kyrgyzstan', 4),
 ('Al-Bahrayn', 4),
 ('Polska', 4),
 ('Hrvatska', 4),
 ('Lao', 4),
 ('Tchad/Tshad', 4),
 ('Italia', 4),
 ('Nicaragua', 4),
 ('Libiya', 4),
 ('Guinea Ecuatorial', 4),
 ('Sierra Leone', 4),
 ('Indonesia', 4),
 ('Ecuador', 4),
 ('Danmark', 4),
 ('Andorra', 4),
 ('Azarbaycan', 4),
 ('Druk-Yul', 4),
 ('Rossija', 4),
 ('United States', 3),
 ('Ukrajina', 3),
 ('Solomon Islands', 3),
 ('Foroyar', 3),
 ('Congo', 3),
 ('Centrafrique/Be-Afrika', 3),
 ('Pilipinas', 3),
 ('Madagasikara/Madagascar', 3),
 ('Mongol Uls', 3),
 ('Brunei Darussalam', 3),
 ('Kalaallit Nunaat/Gronland', 3),
 ('Viet Nam', 3),
 ('Belgie/Belgique', 3),
 ('Prathet Thai', 3),
 ('Benin', 3),
 ('Uruguay', 3),
 ('Cameroun/Cameroon', 3),
 ('Kenya', 3),
 ('Liechtenstein', 3),
 ('Sri Lanka/Ilankai', 3),
 ('Mexico', 3),
 ('Tunis/Tunisie', 3),
 ('Niger', 3),
 ('Turkiye', 3),
 ('Naoero/Nauru', 3),
 ('Hajastan', 3),
 ('Norge', 3),
 ('Komori/Comores', 3),
 ('Yisra\x92el/Isra\x92il', 3),
 ('Polynesie francaise', 3),
 ('Taehan Min\x92guk (Namhan)', 2),
 ('Jamaica', 2),
 ('Saint Lucia', 2),
 ('Kampuchea', 2),
 ('Grenada', 2),
 ('Misr', 2),
 ('Dominica', 2),
 ('Al-Kuwayt', 2),
 ('Costa Rica', 2),
 ('Guatemala', 2),
 ('Marshall Islands/Majol', 2),
 ('Puerto Rico', 2),
 ('Haiti/Dayti', 2),
 ('Liberia', 2),
 ('The Bahamas', 2),
 ('Al-Urdunn', 2),
 ('Samoa', 2),
 ('Nouvelle-Caledonie', 2),
 ('El Salvador', 2),
 ('Ellada', 2),
 ('kaNgwane', 2),
 ('Dhivehi Raajje/Maldives', 2),
 ('Barbados', 2),
 ('Bangladesh', 2),
 ('Burkina Faso', 2),
 ('Antigua and Barbuda', 2),
 ('Cote d\x92Ivoire', 2),
 ('Tocikiston', 2),
 ('Kiribati', 2),
 ('Venezuela', 2),
 ('Paraguay', 2),
 ('Saint Vincent and the Grenadines', 2),
 ('Portugal', 2),
 ('Bermuda', 2),
 ('Ireland/Eire', 2),
 ('Honduras', 2),
 ('Qazaqstan', 2),
 ('Qatar', 2),
 ('Al-´Arabiya as-Sa´udiya', 1),
 ('Saint Kitts and Nevis', 1),
 ('Sverige', 1),
 ('Myanma Pye', 1),
 ('San Marino', 1),
 ('Brasil', 1),
 ('Al-Yaman', 1),
 ('Nihon/Nippon', 1),
 ('Republica Dominicana', 1),
 ('Deutschland', 1),
 ('Cuba', 1),
 ('The Turks and Caicos Islands', 1),
 ('Nederland', 1),
 ('Colombia', 1),
 ('United Kingdom', 1),
 ('Guinee', 1),
 ('Choson Minjujuui In´min Konghwaguk (Bukhan)', 1)]

In [56]:
%%sql
-- Select fields
select name, continent, inflation_rate
  -- From countries
  from countries
  	-- Join to economies
  	left join economies
    -- Match on code
    using(code)
-- Where year is 2015
where year = 2015;

 * postgresql://datacamp:***@localhost:15432/datacamp
185 rows affected.

[('Afghanistan', 'Asia', -1.549),
 ('Angola', 'Africa', 10.287),
 ('Albania', 'Europe', 1.896),
 ('United Arab Emirates', 'Asia', 4.07),
 ('Argentina', 'South America', None),
 ('Armenia', 'Asia', 3.731),
 ('Antigua and Barbuda', 'North America', 0.969),
 ('Australia', 'Oceania', 1.461),
 ('Austria', 'Europe', 0.81),
 ('Azerbaijan', 'Asia', 4.049),
 ('Burundi', 'Africa', 5.553),
 ('Belgium', 'Europe', 0.62),
 ('Benin', 'Africa', 0.271),
 ('Burkina Faso', 'Africa', 0.914),
 ('Bangladesh', 'Asia', 6.161),
 ('Bulgaria', 'Europe', -1.067),
 ('Bahrain', 'Asia', 1.836),
 ('Bahamas', 'North America', 1.879),
 ('Bosnia and Herzegovina', 'Europe', -1.018),
 ('Belarus', 'Europe', 13.523),
 ('Belize', 'North America', -0.862),
 ('Bolivia', 'South America', 4.061),
 ('Brazil', 'South America', 9.03),
 ('Barbados', 'North America', -1.061),
 ('Brunei', 'Asia', -0.423),
 ('Bhutan', 'Asia', 6.336),
 ('Botswana', 'Africa', 3.054),
 ('Central African Republic', 'Africa', 4.5),
 ('Canada', 'North America', 1.132),
 ('Switzerland', 'Europe', -1.14),
 ('Chile', 'South America', 4.349),
 ('China', 'Asia', 1.441),
 ("Cote d'Ivoire", 'Africa', 1.244),
 ('Cameroon', 'Africa', 2.683),
 ('Congo, The Democratic Republic of the', 'Africa', 0.959),
 ('Congo', 'Africa', 2.742),
 ('Colombia', 'South America', 4.99),
 ('Comoros', 'Africa', 2.0),
 ('Cape Verde', 'Africa', 0.125),
 ('Costa Rica', 'North America', 0.802),
 ('Cyprus', 'Asia', -1.539),
 ('Czech Republic', 'Europe', 0.335),
 ('Germany', 'Europe', 0.134),
 ('Djibouti', 'Africa', 2.104),
 ('Dominica', 'North America', -0.794),
 ('Denmark', 'Europe', 0.452),
 ('Dominican Republic', 'North America', 0.837),
 ('Algeria', 'Africa', 4.784),
 ('Ecuador', 'South America', 3.97),
 ('Egypt', 'Africa', 10.994),
 ('Eritrea', 'Africa', 9.0),
 ('Spain', 'Europe', -0.497),
 ('Estonia', 'Europe', 0.068),
 ('Ethiopia', 'Africa', 10.115),
 ('Finland', 'Europe', -0.156),
 ('Fiji Islands', 'Oceania', 1.376),
 ('France', 'Europe', 0.09),
 ('Micronesia, Federated States of', 'Oceania', -0.158),
 ('Gabon', 'Africa', -0.143),
 ('United Kingdom', 'Europe', 0.05),
 ('Georgia', 'Asia', 4.005),
 ('Ghana', 'Africa', 17.153),
 ('Guinea', 'Africa', 8.151),
 ('Gambia', 'Africa', 6.808),
 ('Guinea-Bissau', 'Africa', 1.481),
 ('Equatorial Guinea', 'Africa', 1.695),
 ('Greece', 'Europe', -1.094),
 ('Grenada', 'North America', -0.589),
 ('Guatemala', 'North America', 2.389),
 ('Guyana', 'South America', -0.865),
 ('Hong Kong', 'Asia', 3.037),
 ('Honduras', 'North America', 3.158),
 ('Croatia', 'Europe', -0.464),
 ('Haiti', 'North America', 7.524),
 ('Hungary', 'Europe', -0.07),
 ('Indonesia', 'Asia', 6.363),
 ('India', 'Asia', 4.908),
 ('Ireland', 'Europe', -0.017),
 ('Iran', 'Asia', 11.915),
 ('Iraq', 'Asia', 1.393),
 ('Iceland', 'Europe', 1.633),
 ('Israel', 'Asia', -0.632),
 ('Italy', 'Europe', 0.108),
 ('Jamaica', 'North America', 3.683),
 ('Jordan', 'Asia', -0.877),
 ('Japan', 'Asia', 0.793),
 ('Kazakhstan', 'Asia', 6.656),
 ('Kenya', 'Africa', 6.582),
 ('Kyrgyzstan', 'Asia', 6.503),
 ('Cambodia', 'Asia', 1.225),
 ('Kiribati', 'Oceania', 0.572),
 ('Saint Kitts and Nevis', 'North America', -2.302),
 ('South Korea', 'Asia', 0.706),
 ('Kuwait', 'Asia', 3.233),
 ('Laos', 'Asia', 1.292),
 ('Lebanon', 'Asia', -3.749),
 ('Liberia', 'Africa', 7.742),
 ('Libya', 'Africa', 9.839),
 ('Saint Lucia', 'North America', -0.985),
 ('Sri Lanka', 'Asia', 0.932),
 ('Lesotho', 'Africa', 4.958),
 ('Lithuania', 'Europe', -0.677),
 ('Luxembourg', 'Europe', 0.061),
 ('Latvia', 'Europe', 0.213),
 ('Macao', 'Asia', 4.564),
 ('Morocco', 'Africa', 1.545),
 ('Moldova', 'Europe', 9.628),
 ('Madagascar', 'Africa', 7.404),
 ('Maldives', 'Asia', 1.367),
 ('Mexico', 'North America', 2.72),
 ('Marshall Islands', 'Oceania', -2.169),
 ('Macedonia', 'Europe', -0.3),
 ('Mali', 'Africa', 1.442),
 ('Malta', 'Europe', 1.176),
 ('Myanmar', 'Asia', 10.005),
 ('Mongolia', 'Asia', 5.889),
 ('Mozambique', 'Africa', 2.392),
 ('Mauritania', 'Africa', 0.486),
 ('Mauritius', 'Africa', 1.285),
 ('Malawi', 'Africa', 21.858),
 ('Malaysia', 'Asia', 2.104),
 ('Namibia', 'Africa', 3.396),
 ('Niger', 'Africa', 1.006),
 ('Nigeria', 'Africa', 9.01),
 ('Nicaragua', 'North America', 3.997),
 ('Netherlands', 'Europe', 0.22),
 ('Norway', 'Europe', 2.171),
 ('Nepal', 'Asia', 7.212),
 ('Nauru', 'Oceania', 9.784),
 ('New Zealand', 'Oceania', 0.293),
 ('Oman', 'Asia', 0.065),
 ('Pakistan', 'Asia', 4.526),
 ('Panama', 'North America', 0.134),
 ('Peru', 'South America', 3.548),
 ('Philippines', 'Asia', 1.409),
 ('Palau', 'Oceania', 0.947),
 ('Papua New Guinea', 'Oceania', 5.996),
 ('Poland', 'Europe', -0.933),
 ('Puerto Rico', 'North America', -0.751),
 ('Portugal', 'Europe', 0.508),
 ('Paraguay', 'South America', 3.129),
 ('Qatar', 'Asia', 1.814),
 ('Russian Federation', 'Europe', 15.532),
 ('Rwanda', 'Africa', 2.507),
 ('Saudi Arabia', 'Asia', 2.189),
 ('Sudan', 'Africa', 16.91),
 ('Senegal', 'Africa', 0.129),
 ('Singapore', 'Asia', -0.523),
 ('Solomon Islands', 'Oceania', -0.559),
 ('Sierra Leone', 'Africa', 8.969),
 ('El Salvador', 'North America', -0.731),
 ('San Marino', 'Europe', 0.14),
 ('Sao Tome and Principe', 'Africa', 5.256),
 ('Suriname', 'South America', 6.896),
 ('Slovakia', 'Europe', -0.336),
 ('Slovenia', 'Europe', -0.526),
 ('Sweden', 'Europe', 0.702),
 ('Swaziland', 'Africa', 4.96),
 ('Seychelles', 'Africa', 4.042),
 ('Syria', 'Asia', None),
 ('Chad', 'Africa', 6.758),
 ('Togo', 'Africa', 1.8),
 ('Thailand', 'Asia', -0.9),
 ('Tajikistan', 'Asia', 5.781),
 ('Turkmenistan', 'Asia', 7.405),
 ('Tonga', 'Oceania', -0.283),
 ('Trinidad and Tobago', 'North America', 4.659),
 ('Tunisia', 'Africa', 4.851),
 ('Turkey', 'Asia', 7.671),
 ('Tuvalu', 'Oceania', 3.228),
 ('Tanzania', 'Africa', 5.588),
 ('Uganda', 'Africa', 5.416),
 ('Ukraine', 'Europe', 48.684),
 ('Uruguay', 'South America', 8.666),
 ('United States', 'North America', 0.12),
 ('Uzbekistan', 'Asia', 8.464),
 ('Saint Vincent and the Grenadines', 'North America', -1.726),
 ('Venezuela', 'South America', 121.738),
 ('Vietnam', 'Asia', 0.631),
 ('Vanuatu', 'Oceania', 2.483),
 ('Samoa', 'Oceania', 1.923),
 ('Yemen', 'Asia', 39.403),
 ('South Africa', 'Africa', 4.575),
 ('Zambia', 'Africa', 10.107),
 ('Zimbabwe', 'Africa', -2.41)]

In [88]:
%%sql


-- Select fields
select continent, max(inflation_rate) as max_inf
  -- Subquery using FROM (alias as subquery)
  FROM (
      select name, continent, inflation_rate
      from countries
      inner join economies
      using(code)
      where year = 2015) AS subquery
-- Group by continent
group by continent;

 * postgresql://datacamp:***@localhost:15432/datacamp
185 rows affected.
6 rows affected.

[('Europe', 48.684),
 ('Oceania', 9.784),
 ('Asia', 39.403),
 ('Africa', 21.858),
 ('North America', 7.524),
 ('South America', 121.738)]

In [94]:
%%sql
-- Select fields
select name, continent, inflation_rate
  -- From countries
  from countries
  	-- Join to economies
  	left join economies
    -- Match on code
    on countries.code = economies.code
-- Where year is 2015
where year = 2015 
and inflation_rate in
    (SELECT MAX(inflation_rate) AS max_inf
    -- Subquery using FROM (alias as subquery)
    FROM (
        SELECT name, continent, inflation_rate
        FROM countries
        INNER JOIN economies
        using(code)
        WHERE year = 2015) AS subquery
    -- Group by continent
    GROUP BY continent);

 * postgresql://datacamp:***@localhost:15432/datacamp
6 rows affected.

[('Haiti', 'North America', 7.524),
 ('Malawi', 'Africa', 21.858),
 ('Nauru', 'Oceania', 9.784),
 ('Ukraine', 'Europe', 48.684),
 ('Venezuela', 'South America', 121.738),
 ('Yemen', 'Asia', 39.403)]

In [97]:
%%sql
-- Select fields
SELECT code, inflation_rate, unemployment_rate
  -- From economies
  FROM economies
  -- Where year is 2015 and code is not in
  WHERE year = 2015 AND code not in
  	-- Subquery
  	(SELECT code
  	 FROM countries
  	 WHERE (gov_form = 'Constitutional Monarchy' OR gov_form LIKE '%Republic%'))
-- Order by inflation rate
ORDER BY inflation_rate;

 * postgresql://datacamp:***@localhost:15432/datacamp
26 rows affected.

[('AFG', -1.549, None),
 ('CHE', -1.14, 3.178),
 ('PRI', -0.751, 12.0),
 ('ROU', -0.596, 6.812),
 ('BRN', -0.423, 6.9),
 ('TON', -0.283, None),
 ('OMN', 0.065, None),
 ('TLS', 0.553, None),
 ('BEL', 0.62, 8.492),
 ('CAN', 1.132, 6.9),
 ('MNE', 1.204, None),
 ('SRB', 1.392, 18.2),
 ('AUS', 1.461, 6.058),
 ('QAT', 1.814, None),
 ('BHR', 1.836, None),
 ('WSM', 1.923, None),
 ('MYS', 2.104, 3.1),
 ('SAU', 2.189, 5.591),
 ('HKG', 3.037, 3.296),
 ('KWT', 3.233, 2.072),
 ('ARE', 4.07, None),
 ('MAC', 4.564, 1.825),
 ('SWZ', 4.96, None),
 ('BTN', 6.336, 3.2),
 ('LBY', 9.839, None),
 ('SSD', 52.813, None)]

In [106]:
%%sql
select distinct(region)
from countries
order by region;

 * postgresql://datacamp:***@localhost:15432/datacamp
23 rows affected.

[('Australia and New Zealand',),
 ('Baltic Countries',),
 ('British Islands',),
 ('Caribbean',),
 ('Central Africa',),
 ('Central America',),
 ('Eastern Africa',),
 ('Eastern Asia',),
 ('Eastern Europe',),
 ('Melanesia',),
 ('Micronesia',),
 ('Middle East',),
 ('Nordic Countries',),
 ('North America',),
 ('Northern Africa',),
 ('Polynesia',),
 ('South America',),
 ('Southeast Asia',),
 ('Southern Africa',),
 ('Southern and Central Asia',),
 ('Southern Europe',),
 ('Western Africa',),
 ('Western Europe',)]

In [112]:
%%sql
select c1.name as country, l.name as language
from languages as l 
left join countries as c1
using(code)
where l.official = true 
 AND c1.region = 'Central America';

 * postgresql://datacamp:***@localhost:15432/datacamp
7 rows affected.

[('Belize', 'English'),
 ('Costa Rica', 'Spanish'),
 ('El Salvador', 'Spanish'),
 ('Guatemala', 'Spanish'),
 ('Honduras', 'Spanish'),
 ('Nicaragua', 'Spanish'),
 ('Panama', 'Spanish')]

In [125]:
%%sql
-- Select fields
SELECT DISTINCT(c.name), e.total_investment, e.imports
  -- From table (with alias)
  FROM countries AS c
    -- Join with table (with alias)
    LEFT JOIN economies AS e
      -- Match on code
      ON (c.code = e.code
      -- and code in Subquery
        AND c.code IN (
          SELECT l.code
          FROM languages AS l
          WHERE official = true
        ) )
  -- Where region and year are correct
  WHERE region = 'Central America' AND year = 2015
-- Order by field
ORDER BY c.name;

 * postgresql://datacamp:***@localhost:15432/datacamp
7 rows affected.

[('Belize', 22.014, 6.743),
 ('Costa Rica', 20.218, 4.629),
 ('El Salvador', 13.983, 8.193),
 ('Guatemala', 13.433, 15.124),
 ('Honduras', 24.633, 9.353),
 ('Nicaragua', 31.862, 11.665),
 ('Panama', 46.557, 5.898)]

In [128]:
%%sql
-- Select fields
SELECT c.region, c.continent, avg(p.fertility_rate) AS avg_fert_rate
  -- From left table
  FROM countries AS c
    -- Join to right table
    INNER JOIN populations AS p
      -- Match on join condition
      ON c.code = p.country_code
  -- Where specific records matching some condition
  WHERE p.year = 2015
-- Group appropriately
GROUP BY c.continent, c.region
-- Order appropriately
ORDER BY avg_fert_rate;

 * postgresql://datacamp:***@localhost:15432/datacamp
23 rows affected.

[('Southern Europe', 'Europe', 1.4261),
 ('Eastern Europe', 'Europe', 1.49088888888889),
 ('Baltic Countries', 'Europe', 1.60333333333333),
 ('Eastern Asia', 'Asia', 1.62071428571429),
 ('Western Europe', 'Europe', 1.6325),
 ('North America', 'North America', 1.76575),
 ('British Islands', 'Europe', 1.875),
 ('Nordic Countries', 'Europe', 1.89333333333333),
 ('Australia and New Zealand', 'Oceania', 1.9115),
 ('Caribbean', 'North America', 1.95057142857143),
 ('Southeast Asia', 'Asia', 2.156),
 ('South America', 'South America', 2.27475),
 ('Central America', 'North America', 2.326375),
 ('Middle East', 'Asia', 2.54705555555556),
 ('Southern and Central Asia', 'Asia', 2.63414285714286),
 ('Micronesia', 'Oceania', 2.86475),
 ('Northern Africa', 'Africa', 2.90816666666667),
 ('Southern Africa', 'Africa', 2.9908),
 ('Melanesia', 'Oceania', 3.1358),
 ('Polynesia', 'Oceania', 3.24433333333333),
 ('Eastern Africa', 'Africa', 4.38670588235294),
 ('Western Africa', 'Africa', 4.960125),
 ('Central Africa', 'Africa', 4.96788888888889)]

In [142]:
%%sql
-- Select fields
SELECT c.name, c.country_code, c.city_proper_pop, c.metroarea_pop,  
      -- Calculate city_perc
      (c.city_proper_pop / c.metroarea_pop) * 100.0 AS city_perc
  -- From appropriate table
  FROM cities as c
  -- Where 
  WHERE c.name IN
    -- Subquery
    (SELECT capital
     FROM countries
     WHERE (continent = 'Europe'
        OR region LIKE '%America'))
       AND c.metroarea_pop IS not null
-- Order appropriately
ORDER BY city_perc desc
-- Limit amount
limit 10;

 * postgresql://datacamp:***@localhost:15432/datacamp
10 rows affected.

[('Lima', 'PER', 8852000.0, 10750000.0, 82.3441860465116),
 ('Bogota', 'COL', 7878783.0, 9800000.0, 80.3957448979592),
 ('Moscow', 'RUS', 12197596.0, 16170000.0, 75.4334941249227),
 ('Vienna', 'AUT', 1863881.0, 2600000.0, 71.6877307692308),
 ('Montevideo', 'URY', 1305082.0, 1947604.0, 67.0096179716205),
 ('Caracas', 'VEN', 1943901.0, 2923959.0, 66.4818145534872),
 ('Rome', 'ITA', 2877215.0, 4353775.0, 66.0855234824951),
 ('Brasilia', 'BRA', 2556149.0, 3919864.0, 65.2101450458485),
 ('London', 'GBR', 8673713.0, 13879757.0, 62.4918217228155),
 ('Budapest', 'HUN', 1759407.0, 2927944.0, 60.0901861511013)]